/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}


/* Home Section */
#home{
    
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('images/smilies_overloaded.jpg');
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.6;
}
h2{
    
font-family: 'Noto Sans', sans-serif;
}
.content{
    font-family: 'Montserrat', sans-serif;
}



#home h1{
    font-family: 'Noto Sans', sans-serif;
    color:white;
    text-align: center;
    
}

#home p{
    color: #111101;
    font-family: 'Montserrat', sans-serif;
    
    text-align: center;
    font-size: 1.5rem;
    
}
/* Services Section */
#services{
    margin: 5rem 2rem;
    display: flex;
    justify-content: center;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Montserrat', sans-serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('images/abstract-solid-shining-yellow-gradient-studio-wall-room-background.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('images/abstract-solid-shining-yellow-gradient-studio-wall-room-background.jpg');

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   
   font-family: 'Noto Sans', sans-serif;
}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;
    padding: 12px;
}

.button {
    font-family: 'Noto Sans', sans-serif;
    background-color: #ff1c1c;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 25px 8px;
    cursor: pointer;
}
.button:hover{
    background-color: #fc3232;
}
.center{
    text-align: center;
    padding-top: 4rem;
}
html {
    scroll-behavior: smooth;
  }
  .footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: red;*/
    color: white;
    text-align: right;
    justify-content: center;
 }
/* Navigation Bar */
#navbar {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    align-items: center;
    top: 0px;
    position:relative;
    justify-content: center;
    flex-direction: column;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
